{% extends 'base.html' %}

{% block content %}


<center><h1 class="font-italic"> Welcome to Idealistic.</h1></center>
<center><img src="https://finnwheels.com/assets/images/about.png" width="1200"height="400"></center>

<html>
<head>
<style>
#example1 {
  border: 1px solid;
  padding: 10px;
  background-color: #AEB6BF;
  box-shadow: 5px 10px 8px 8px #ffffff;
  }
</style>
</head>
<body>
<center><h2 class="section-title section-title-border-half text-white" style="
    text-shadow: 1px 1px 11px #007bff;font-size: 28px;">*****</h2></center>
</body>
<body>
<div id="example1">
        <ul onclick="window.appBehavior.home.tracking.trackWFHJob(&quot;25112241&quot;)" class="bg-grey unit-with-arrows">
                            <h3 class="section-title section-title-border-half text-white" style="
    text-shadow: 1px 1px 11px #007bff;font-size: 28px;">Harman:- </h3>
                           <p  style="color:#000000;" class=" pst-3 pt-md-30 px-md-5 "><i>At Harman, Everyone makes a difference- your voice matters.</i></p>
                            <p  style="color:#000000;" class=" pst-3 pt-md-30 px-md-5 "><i>To be successful, Harman draws the different backgrounds, perspectives and experiences of our people. At the same time, we are united in purpose and in the principles that guide our actions and decisions. Imagine the possibilities with your career at HARMAN.</i></p>
                             <p  style="color:#000000;" class=" pst-3 pt-md-30 px-md-5 "><i>There are 5 ratings where 5 being the highest,</i></p>
                             <p  style="color:#000000;" class=" pst-3 pt-md-30 px-md-5 "><i>previous years the hike percentage were approximately same for all level, however this year things have changed alot.</i></p>
                            <p  style="color:#000000;" class=" pst-3 pt-md-30 px-md-5 "><i>Due to the trump visa restriction Indian IT is crushed and alot of layoff can be seen even in major giants.</i></p>
                             <p  style="color:#000000;" class=" pst-3 pt-md-30 px-md-5 "><i>Good news is after SAMSUNG acquired harman, layoffs are not likely to happen but the hikes sure can hamper, as per my experiences being a project leader and top performer would certainly offer you hike of 10–12%.</i></p>
                            </div>
                            </div>
                        </ul>
</div>
<section>
    <html>
<head>
<style>
#example1 {
  border: 1px solid;
  padding: 10px;
  background-color: #AEB6BF;
  box-shadow: 5px 10px 8px 8px #ffffff;
  }
</style>
</head>
<body>
<center><h2 class="section-title section-title-border-half text-white" style="
    text-shadow: 1px 1px 11px #007bff;font-size: 28px;">-</h2></center>
</body>
<body>
<div id="example1">
        <ul onclick="window.appBehavior.home.tracking.trackWFHJob(&quot;25112241&quot;)" class="bg-grey unit-with-arrows">
                            <h3 class="section-title section-title-border-half text-white" style="
    text-shadow: 1px 1px 11px #007bff;font-size: 28px;">Tata Consultancy Services:- </h3>
                           <p  style="color:#000000;" class=" pst-3 pt-md-30 px-md-5 "><i>Tata Consultancy Services Limited (TCS) is an Indian multinational information technology (IT) Services and consulting company headquarted in Mumbai, Maharastra, India, It is a subsidiary of the Tata Group and operates in 149 locations across 46 countries. </i></p>
                            <p  style="color:#000000;" class=" pst-3 pt-md-30 px-md-5 "><i> TCS is the second largest Indian company by market capitalisation.Tata consultancy services is now placed among the most valuable IT services brands worldwide.In 2015, TCS was ranked 64th overall in the Forbes World's Most Innovative Companies ranking, making it both the highest-ranked IT services company and the top Indian company. It is the world's largest IT services provider.As of 2018, it is ranked eleventh on the Fortune India. In April 2018, TCS became the first Indian IT company to reach $100 billion in market capitalisation,and second Indian company ever, after its market capitalisation stood at ₹6,79,332.81 crore ($102.6 billion) on the Bomabay stock Exchange.</i></p>
                             </div>
                            </div>
                        </ul>
</div>
   <center><h2 class="section-title section-title-border-half text-white" style="
    text-shadow: 1px 1px 11px #007bff;font-size: 28px;">-</h2></center>
</body>
<body>
<div id="example1">
        <ul onclick="window.appBehavior.home.tracking.trackWFHJob(&quot;25112241&quot;)" class="bg-grey unit-with-arrows">
                            <h3 class="section-title section-title-border-half text-white" style="
    text-shadow: 1px 1px 11px #007bff;font-size: 28px;">Cognizant:-</h3>
                           <p  style="color:#000000;" class=" pst-3 pt-md-30 px-md-5 "><i>For the general term, see Cognizance. For the co-founder of Australian company Cognescent Corporation, see Thomas Reardon “CTSH” redirects here. For the human gene CTSH, see cathepsin H.</i></p>
                            <p  style="color:#000000;" class=" pst-3 pt-md-30 px-md-5 "><i>Cognizant is an American multinational corporation  that provides IT services, including digital, technology, consulting, and operations services.It id headquartered in Teaneck, New jersey, United States. Cognizant is part of the NASDAQ-100 and trades under CTSH. It was founded as an in-house technology unit of Dun & Bradstreet in 1994, and started serving external clients in 1996. </i></p>
                             <p  style="color:#000000;" class=" pst-3 pt-md-30 px-md-5 "><i>After a series of corporate re-organizations there wan an initial public offering in 1998.
Cognizant had a period of fast growth during the 2000s, becoming a Fortune 500 company in 2011 & as of 2020.
</i></p>
                            </div>
                            </div>
                        </ul>
</div>

   <center><h2 class="section-title section-title-border-half text-white" style="
    text-shadow: 1px 1px 11px #007bff;font-size: 28px;">-</h2></center>
</body>
<body>
<div id="example1">
        <ul onclick="window.appBehavior.home.tracking.trackWFHJob(&quot;25112241&quot;)" class="bg-grey unit-with-arrows">
                            <h3 class="section-title section-title-border-half text-white" style="
    text-shadow: 1px 1px 11px #007bff;font-size: 28px;">Datamatics:-</h3>
                           <p  style="color:#000000;" class=" pst-3 pt-md-30 px-md-5 "><i> Datamatics is a provider of consulting, information technology (IT), data management, and business process management services. Its services use robotics, artificial intelligence and machine learning algorithms. Headquartered in Mumbai, the company has a presence across America, Australia, Asia and Europe.</i></p>
                            <p  style="color:#000000;" class=" pst-3 pt-md-30 px-md-5 "><i>The company was incorporated in 1987, offering computer and electronic data processing linked services, and later added information technology enabled services with robotics process automation. On November 1987, the company was incorporated as interface Software Resources private Ltd. The name of the company was then changed to Datamatics Technologies Private Ltd. On 18 December 1992. It then changed its name to Datamatics Technologies Ltd. when it got listed as a public company under the provisions of section 43A of the Companies Act on 13 January 2000. </i></p>
                            </div>
                            </div>
                        </ul>
</div>
   <center><h2 class="section-title section-title-border-half text-white" style="
    text-shadow: 1px 1px 11px #007bff;font-size: 28px;">-</h2></center>
</body>
<body>
<div id="example1">
        <ul onclick="window.appBehavior.home.tracking.trackWFHJob(&quot;25112241&quot;)" class="bg-grey unit-with-arrows">
                            <h3 class="section-title section-title-border-half text-white" style="
    text-shadow: 1px 1px 11px #007bff;font-size: 28px;">NTT Communcations:-</h3>
                           <p  style="color:#000000;" class=" pst-3 pt-md-30 px-md-5 "><i> NTT Communications is the leading global provider of information and communications technology (ICT) solutions within NTT Group which ranks in the top 100 of the Fortune Global 500.</i></p>
                            <p  style="color:#000000;" class=" pst-3 pt-md-30 px-md-5 "><i>NTT have locations in global in over 70 countries/ regions around the world. Connecting networks in more than 190 countries/regions. Powering data centers in over countries/regions.
Part of a Fortune Global 100 company. About $100B in revenue. Over 10,000 enterprise clients.
NTT have very innovative. In an ever-shifting environment of technological and cultural change, we are staying ahead of the curve by placing socially responsible innovation at the core.
 </i></p>
                            </div>
                            </div>
                        </ul>
</div>
   <center><h2 class="section-title section-title-border-half text-white" style="
    text-shadow: 1px 1px 11px #007bff;font-size: 28px;">-</h2></center>
</body>
<body>
<div id="example1">
        <ul onclick="window.appBehavior.home.tracking.trackWFHJob(&quot;25112241&quot;)" class="bg-grey unit-with-arrows">
                            <h3 class="section-title section-title-border-half text-white" style="
    text-shadow: 1px 1px 11px #007bff;font-size: 28px;">DMC Technologies:-</h3>
                           <p  style="color:#000000;" class=" pst-3 pt-md-30 px-md-5 "><i> DMC is your full service IT Partner offering many solutions including hardware, software, programming, networking, virtualization, and cloud computing.  DMC is located in Toledo, Ohio and has served Indiana, Michigan, and Ohio’s technology needs since 1993.  A Toledo IT company that values customer service, DMC has expert IT support and services dedicated to providing the highest quality service and products.</i></p>
                            <p  style="color:#000000;" class=" pst-3 pt-md-30 px-md-5 "><i> DMC offers IT solutions that utilize the latest technology from industry leaders and customizes them for your business. DMC will get to know your business, and your IT needs, then design a customized solution to promote business growth and efficient operations.DMC serves a variety of industries, including State and Local Government, Education, Health Care, Commercial Businesses, and Non-profit agencies. We take pride in providing cutting edge technology and expert IT services. </i></p>
                            </div>
                            </div>
                        </ul>
</div>
  <center><h2 class="section-title section-title-border-half text-white" style="
    text-shadow: 1px 1px 11px #007bff;font-size: 28px;">-</h2></center>
</body>
<body>
<div id="example1">
        <ul onclick="window.appBehavior.home.tracking.trackWFHJob(&quot;25112241&quot;)" class="bg-grey unit-with-arrows">
                            <h3 class="section-title section-title-border-half text-white" style="
    text-shadow: 1px 1px 11px #007bff;font-size: 28px;">ASG:-</h3>
                           <p  style="color:#000000;" class=" pst-3 pt-md-30 px-md-5 "><i> ASG Technologies was founded in 2014 and is a New Zealand based technology incubator, our people are trained in exponential thinking and charged with creating innovative ways to develop existing and emerging disruptive technologies into capabilities that can deliver enhanced outcomes for customers.</i></p>
                            <p  style="color:#000000;" class=" pst-3 pt-md-30 px-md-5 "><i> The incubator is a wholly-owned subsidiary of ultimate parent company TPT Group Holdings (NZ) Limitedwww.tptgroup.co.nz  The company is future-focussed and looks to find new ways of leveraging the Group’s inherent capabilities through exponential thinking, new technologies, and partnerships. We are in a time of opportunity, a time where technology is changing the world, we are about solving complex problems, looking for the 'mess', and assisting our customers to identify their moonshot.</i></p>

                            </div>
                            </div>
                        </ul>
</div>
   <center><h2 class="section-title section-title-border-half text-white" style="
    text-shadow: 1px 1px 11px #007bff;font-size: 28px;">-</h2></center>
</body>
<body>
<div id="example1">
        <ul onclick="window.appBehavior.home.tracking.trackWFHJob(&quot;25112241&quot;)" class="bg-grey unit-with-arrows">
                            <h3 class="section-title section-title-border-half text-white" style="
    text-shadow: 1px 1px 11px #007bff;font-size: 28px;"> Wipro:-</h3>
                           <p  style="color:#000000;" class=" pst-3 pt-md-30 px-md-5 "><i> Wipro provides comprehensive IT solutions and services, including systems integration, Information Systems outsourcing, package implementation, software application development and maintenance, and research and development services to corporations globally.
Wipro Limited is an Indian multinational corporation that provides information technology, consulting and business process services.
</i></p>
                            <p  style="color:#000000;" class=" pst-3 pt-md-30 px-md-5 "><i> It is an headquaretd in Banglore, Karnataka, India. In 2013, Wipro separated its non-IT business and formed the privately owned Wipro Enterprises. Wipro Limited is a provider of IT services, including Systems Integration, Consulting, Information Systems outsourcing, IT-enabled services, and R&D services.Wipro entered into the technology business in 1981 and has over 160,000 employees and clients across 110 countries. IT revenues were at $7.1 billion for the year ended 31 March 2015, with a repeat business ratio of over 95%.</i></p>

                            </div>
                            </div>
                        </ul>
</div>



{% endblock %}