{% extends 'base.html' %}

{% block content %}

<pre class="tab">
    <pre class="tab">
        <pre class="tab">
<center><h3 class="section-title section-title-border-half text-black" style="
    text-shadow: 1px 1px 11px #007bff;font-size: 28px;class=""><i>Successfully  Done</i></h3></center>
<center><img src="https://lh3.googleusercontent.com/proxy/uCyJP4iFM1-oTYsSgH5WFpdyGUQB1tGi3uGkpwU6izaK2H7-pbRW2HbTF0PD99IpJSaOwZWnM-H8TPeirwufHQXb" width="400"height="200"></center>
<center><button  class="btn btn-primary" pre="tab" type="submit" ><a href="/home"><h7 class="text-white">Home</h7></button></center>
{% endblock %}